#jira a, 
#jira a:link, 
#jira a:visited,
#jira .view a, 
#jira .view a:link, 
#jira .view a:visited {
  color: #999933 !important;
}


/* Michael */

#jira a, 
#jira a:link, 
#jira a:visited,
#jira .view a, 
#jira .view a:link, 
#jira .view a:visited {
  color: #385B7C !important;
}

#jira .aui-dropdown2.aui-style-default .active {
  color: #fff !important;
}

/* Structure */

/*#structure .st-focused .tr.s-focused {
  background-color: #CCE1FC !important;
  border: 1px #9BB7D3 solid !important;
}

#structure .st-focused .tr.s-focused .grad {
  background: -moz-linear-gradient(left, rgba(234,241,253,0) 0%, rgba(206, 226, 251, 1) 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,241,253,0)), color-stop(100%,rgba(206, 226, 251, 1))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00EAF1FD', endColorstr='#EAF1FD',GradientType=1 ) !important;
  background: -ms-linear-gradient(left, rgba(234,241,253,0) 0%,rgba(206, 226, 251, 1) 100%) !important;
  background: linear-gradient(left, rgba(234,241,253,0) 0%,rgba(206, 226, 251, 1) 100%) !important;
}*/

/* headers in dashboard gadgets */
#jira.aui-layout .dashboard #dashboard-content div.gadget.color1 .gadget-hover .dashboard-item-title, 
#jira.aui-layout .dashboard #dashboard-content div.gadget.color1 .dashboard-item-title {
  background-color: #235889 !important;
}

/* Hide Atlassian marketing links */
#upm-requests-link, #view_help, #view_credits, #view_about, #jiraclient_download {
  display: none;
}

/* Konvertus Logo */
.aui-header-logo {
    position: absolute;
    top: 0;
    left: 10px;
}

/* Workflow Buttons */
#action_id_151 /* Order Correction, orange */
{
  background-color: #fbb871 !important;
}

#action_id_1301, #action_id_831 /* Query to 2nd Level, Query for Client, red */
{
  background-color: #ff6666 !important;
}

#action_id_1411 /* Ready for Review, blue */
{
  background-color: #a1eefb !important;
}

#action_id_1401 /* Ready for Distribution, green */
{
  background-color: #bfff09 !important;
}

#action_id_531 /* File is Ready, green */
{
  background-color: #95f976 !important;
}

#action_id_741 /* Put On Hold, green */
{
  background-color: #eff783 !important;
}

/* Hide Agil (!!!), Labels, Share, Export, Worklog Tab Panel */
#greenhopper_menu, #greenhopper-agile-issue-web-panel_heading, #wrap-labels, #jira-share-trigger, #viewissue-export, #worklog-tabpanel
{
  display: none;
}

.structureBorder {
  border-top: 1px solid #fff !important;
}

#structure .st-focused .tr.s-focused {
  background: rgb(227,239,236) !important;
  background: -moz-linear-gradient(top, rgba(227,239,236,1) 0%, rgba(187,231,223,1) 45%, rgba(191,236,228,1) 56%, rgba(197,247,234,1) 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,239,236,1)), color-stop(45%,rgba(187,231,223,1)), color-stop(56%,rgba(191,236,228,1)), color-stop(100%,rgba(197,247,234,1))) !important;
  background: -webkit-linear-gradient(top, rgba(227,239,236,1) 0%,rgba(187,231,223,1) 45%,rgba(191,236,228,1) 56%,rgba(197,247,234,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(227,239,236,1) 0%,rgba(187,231,223,1) 45%,rgba(191,236,228,1) 56%,rgba(197,247,234,1) 100%) !important;
  background: -ms-linear-gradient(top, rgba(227,239,236,1) 0%,rgba(187,231,223,1) 45%,rgba(191,236,228,1) 56%,rgba(197,247,234,1) 100%) !important;
  background: linear-gradient(to bottom, rgba(227,239,236,1) 0%,rgba(187,231,223,1) 45%,rgba(191,236,228,1) 56%,rgba(197,247,234,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3efec', endColorstr='#c5f7ea',GradientType=0 ) !important;
  border-top: 1px #AFF0DD solid !important;
  border-bottom: 1px #B0E7D7 solid !important;
}

#issuetable tr.focused, .issue-table tr.focused {
  background: #e1e7ed !important;
  background: -moz-linear-gradient(top,  #e1e7ed 0%, #b9d9e5 45%, #bedce8 56%, #c1ddf2 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e7ed), color-stop(45%,#b9d9e5), color-stop(56%,#bedce8), color-stop(100%,#c1ddf2)) !important;
  background: -webkit-linear-gradient(top,  #e1e7ed 0%,#b9d9e5 45%,#bedce8 56%,#c1ddf2 100%) !important;
  background: -o-linear-gradient(top,  #e1e7ed 0%,#b9d9e5 45%,#bedce8 56%,#c1ddf2 100%) !important;
  background: -ms-linear-gradient(top,  #e1e7ed 0%,#b9d9e5 45%,#bedce8 56%,#c1ddf2 100%) !important;
  background: linear-gradient(to bottom,  #e1e7ed 0%,#b9d9e5 45%,#bedce8 56%,#c1ddf2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e7ed', endColorstr='#c1ddf2',GradientType=0 ) !important;
  border-top: 1px #AFF0DD solid !important;
  border-bottom: 1px #B0E7D7 solid !important;
}

#structure .st-focused .tr.s-focused .grad {
  background: -moz-linear-gradient(left, rgba(234,241,253,0) 0%, rgba(206, 226, 251, 1) 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,241,253,0)), color-stop(100%,rgba(192, 234, 227, 1))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00EAF1FD', endColorstr='#c5f7ea',GradientType=1 ) !important;
  background: -ms-linear-gradient(left, rgba(234,241,253,0) 0%,rgba(192, 234, 227, 1) 100%) !important;
  background: linear-gradient(left, rgba(234,241,253,0) 0%,rgba(192, 234, 227, 1) 100%) !important;
}

#structure .issueDescription, #structure .descriptionSeparator {
  cursor: default !important;
}

#structure .st-splitter {
  background-color: rgba(239, 239, 239, 1) !important;
}


#structure .st-splitter:hover {
  background-color: rgba(225, 235, 239, 1) !important;
}


#structure .sechead {
  border-bottom: 2px solid #EFEFEF !important;
}

#st-issue-details {
  background-color: white !important;
  border-top: 1px solid #fff !important;
}

#structure .foot {
  border-top: 1px solid #DFE7E6 !important;
}

/* Hide not needed elements of structure */
.s-info-link-a {
  display: none !important;
}

/* Michael's attempt to fix the official bug in structure: https://jira.almworks.com/browse/HJ-2134 */
/* #structure {
  float: left !important;
}
#st-issue-details {
  float: right !important;
} */

/* Issue Details */

#issue-content {
  background-color: #EFEFEF !important;
}

.issue-body-content {
  padding: 20px 20px !important;
}

.links-list {
  background-color: #EF85B9 !important;
}

.links-list dt {
  padding-left: 10px;
}

@media (max-width: 1190px)
.links-list dt {
  padding-left: 10px !important;
}

.links-list dd {
  border-top: none !important;
}

@media (max-width: 1190px)
.links-list dt+dd {
  border-top: none !important;
}

.links-list .link-content {
  padding: 5px 5px 5px 10px !important;
}

.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2,
.issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4,
.issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
  background: none !important;
}

.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger,
/* lonely comment button */ .aui-button, a.aui-button, .aui-button:visited {
  background: #F4FFFF !important;
  color: #385B7C !important;
  border: 1px solid #eee !important;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(202,198,185,1) !important;
  -moz-box-shadow: 1px 1px 2px 0px rgba(202,198,185,1) !important;
  box-shadow: 1px 1px 0px 0px rgba(202,198,185,1) !important;
}

.aui-button, a.aui-button, .aui-button:visited {
  margin-bottom: 2px !important;
}

.aui-message.error {
  background: #d04437 !important; /* '!important' is important, otherwise it's overwritten by 'form.aui .error' */
  border-color: #d04437 !important;
  color: #fff !important;
}

.issue-body-content .module>.mod-header {
  background: none !important;
}

.issue-body-content .module>.mod-content {
  padding-left: 0 !important;
}

/* field labels in detail view */
.issue-body-content .property-list .item .name, .issue-body-content .item-details dl>dt {
  font-size: 10px !important;
}

.issue-body-content .item-details dl>dt {
  padding: 5px 5px 0 0 !important;
}

/* label 'none' */
#wrap-labels {
  color: #bbb !important;
}

/* priority text */
#priority-val {
  color: transparent !important;
}

/* SLA */
.aui-lozenge-success, .aui-lozenge-error {
  background-color: transparent !important;
  color: transparent !important;
  border: none !important;
  background-repeat: no-repeat !important;
  padding: 7px 0 0 0 !important;
}

/* workflow step */
.aui-lozenge {
  padding: 1px 1px !important;
  text-transform: none !important;
  font-size: 11px !important;
}

.aui-lozenge-success {
  background-image: URL(https://order.konvertus.com/plugins/cute/static/resource/communardo.jira.zenlike.theme_1.1_michael/checkmark.png) !important;
}

.aui-lozenge-error {
  background-image: URL(https://order.konvertus.com/plugins/cute/static/resource/communardo.jira.zenlike.theme_1.1_michael/attention.png) !important;
}

.jep-timeToSla-row {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  width: 160px !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.jep-timeToSla-row .slaname {
  display: none !important;
}

.jep-timeToSla-countdown {
  width: 160px !important;
  height: 17px !important;
  padding-left: 5px !important;
  overflow: hidden !important;
}

.hasCountdown {
  background-color: #208F37 !important;
  font-size: smaller !important;
  margin: 0 !important;
}

/* Initial 'file is converted', Initial 'file is ready' */
#customfield_10630-val, #customfield_10636-val {
  color: #456585 !important;
}

/* attachments */
.item-attachments .attachment-content, .attachment-author {
  padding: 2px 5px 2px 20px !important;
  font-size: small !important;
}

dd.attachment-date, .attachment-author, .attachment-size {
  font-size: smaller !important;
  color: #777 !important;
}

.attachment-author {
  display: inherit !important;
  padding: 0 0px !important;
  color: #ccc !important;
}

.attachment-author:after {
  content: ",\00A0" !important;
}

#file_attachments+#attachment_thumbnails {
  border-top: 1px solid #DBDBDB !important;
}

.blender {
    background: none !important; /* background for trash icon */
}

/* BoD QA Error Types */
#rowForcustomfield_13033, /* Images */
#rowForcustomfield_13046, /* Impressum */
#rowForcustomfield_13049, /* TOC */
#rowForcustomfield_13054, /* Complex Elements */
#rowForcustomfield_13057, /* Links / Index */
#rowForcustomfield_13065, /* Lists */
#rowForcustomfield_13068, /* Metadata */
#rowForcustomfield_13072, /* Tables */
#rowForcustomfield_13078, /* Text */
#rowForcustomfield_13087 /* Unwanted Elements */
 {
  background: #ffcbcb;
  border-left: #f58080 1px solid;
  border-top: #fbb7b7 1px solid;
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
  margin-left: -2px;
  padding-left: 2px;  
}

/* small texts */
.status-view, 
#rowForcustomfield_10006, /* Author */
#rowForcustomfield_10014, /* Client's Order Number */
#rowForcustomfield_10004, /* Number of Pages */
#rowForcustomfield_10018, /* Number of Titles */
#rowForcustomfield_12002, /* Number of Spell Check Errors */
#rowForcustomfield_10007, /* isbn print */
#rowForcustomfield_10011, /* isbn epub */
#rowForcustomfield_10012, /* isbn mobi */
#rowForcustomfield_10008, /* issn */
#rowForcustomfield_10000, /* ebook format */
#rowForcustomfield_10005, /* Complexity of the Title*/
#rowForcustomfield_11300, /* Correction Caused by */
#rowForcustomfield_10016, /* production structure */
#rowForcustomfield_12523, /* Link to Publisher's Stylesheet */
#rowForcustomfield_12524, /* Link to Serie's Stylesheet */
#rowForcustomfield_10017, /* type of conversion */
#rowForcustomfield_10500, /* IF */
#rowForcustomfield_10646, /* Q */
#rowForcustomfield_10644, /* scope */
#rowForcustomfield_10025, /* Client's Publisher's No. */
#rowForcustomfield_10019, /* Publisher's state */
#rowForcustomfield_11003, /* # File is Converted */
#rowForcustomfield_11000, /* # File is Ready */
#rowForcustomfield_12535, /* # Production Query */
#rowForcustomfield_12538, /* # Client Answered Production Query */
#rowForcustomfield_12536, /* # Query for Client */
#rowForcustomfield_12534, /* # QA */
#rowForcustomfield_10622, /* # Rework requested after 'File is Ready'*/
#rowForcustomfield_10623, /* # Rework requested after invoice */
#rowForcustomfield_10624, /* # Correction Ordered from QA */
#rowForcustomfield_11004, /* # Under Correction */
#rowForcustomfield_11001, /* # Rework Requested */
#rowForcustomfield_11002, /* # Changes Ordered after Rework Preparation */
#rowForcustomfield_10625, /* # Attachments */
#rowForcustomfield_10626, /* # Comments */
#rowForcustomfield_11304, /* # Styles */
#rowForcustomfield_11306, /* # Footnotes */
#rowForcustomfield_11302, /* # Images for Display */
#rowForcustomfield_11401, /* # Images Inline */
#rowForcustomfield_11400, /* # Tables as Images */
#rowForcustomfield_11305, /* # Tables as Text */
#rowForcustomfield_11403, /* # Index Terms */
#rowForcustomfield_11402, /* # References */
#rowForcustomfield_11303, /* # External links */
#rowForcustomfield_10632, /* # Recent comment */
#rowForcustomfield_10700, /* # realated issues */
#rowForcustomfield_10905, /* # In-Progress-Time */
#customfield_10600-val, /* # Production Requirements */
#customfield_10645-val, /* # IF */
#customfield_11005-val, /* # RFIR */
#customfield_11006-val, /* # CCC */
#customfield_11900-val, /* # KCC */
#customfield_12001-val, /* # VIF */
#customfield_12102-val, /* # Client's Evaluation */
#customfield_11404-val, /* # KM's Evaluation */
#customfield_12103-val, /* # KM's Evaluation Description */
#customfield_12400-val, /* # KP's Evaluation */
#customfield_12105-val, /* # KP's Evaluation Description */
#customfield_11100-val, /* # In-Progress Time */
#customfield_12509-val, /* Asked for Information */
#customfield_10630-val, /* Initial 'file is converted' */
#customfield_10636-val, /* Initial 'file is ready' */
#customfield_10627-val, /* Participants */
#customfield_12503-val, /* New Quotation */
#customfield_12500-val, /* Production Ordered */
#customfield_12506-val, /* Taken to Production */
#customfield_12507-val, /* Production Rejected */
#customfield_10613-val, /* Quotation Request Date */
#customfield_10616-val, /* Quotation Created Date */
#customfield_11200-val, /* Planned KP to KM */
#customfield_11700-val, /* Provisional KP to KM */
#customfield_12515-val, /* Production Query Raised */
#customfield_12505-val, /* Query for Client */
#customfield_12531-val, /* From Query for Client to Preparation*/
#customfield_12517-val, /* Production Query Answered by Client */
#customfield_12520-val, /* Production Query Answered by KM */
#customfield_12518-val, /* Back to Production */
#customfield_12532-val, /* QA Query Answered by Client */
#customfield_12516-val, /* Correction Query Raised */
#customfield_12521-val, /* Correction Query Answered by KM */
#customfield_12513-val, /* Correction Query Answered by Client */
#customfield_12519-val, /* Back to Correction */
#customfield_12526-val, /* KM Sent Client's Correction Answer to KP */
#customfield_10611-val, /* Default to Client */
#customfield_10621-val, /* Default Correction */
#customfield_12803-val, /* File Is Converted */
#customfield_12511-val, /* Changes Ordered */
#customfield_10902-val, /* Correction Ordered */
#customfield_12514-val, /* Taken to Correction */
#customfield_10904-val, /* From Correction to QA */
#customfield_10900-val, /* KP to KM */
#customfield_12528-val, /* Rework Requested After Download */
#customfield_12533-val, /* Rework Query Answered by Client */
#customfield_12512-val, /* Rework Done */
#customfield_12504-val, /* Put On Hold */
#customfield_12529-val, /* From On Hold to Preparation */
#customfield_12530-val, /* From On Hold to QA */
#customfield_10628-val, /* Resolution time */
#customfield_10644-val, /* Scope */
#customfield_10404-val, /* Show Production Success by Screenshot */
#customfield_10701-val, /* Rule to Preparation */
#customfield_10704-val, /* Rule ordered */
#customfield_10705-val, /* Rule to Production */
#customfield_10708-val, /* Rule to QA */
#customfield_10712-val, /* Rule request prepared */
#customfield_10703-val, /* Rule KM asked */
#customfield_10707-val, /* Rule KP asked */
#customfield_10706-val, /* Rule back to Preparation */
#customfield_10709-val, /* Rule back to Production */
#customfield_10711-val, /* Rule rework requested */
#customfield_10702-val, /* Rule waits for order */
#customfield_10710-val, /* Rule is Done */
.labels,
#wrap-labels,
#priority-val,
.jira-issue-status-lozenge, /* status labels, FIXME, doesn't work yet */
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow,
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-blue,
.jep-timeToSla-row .slaname, /* SLA */
.hasCountdown,
#resolution-val, /* resolution */
/* #resolved-date,*/ /* resolved is hidden anyway */
.people-details .assign-to-me-link, 
#watching-toggle,
#create-date,
#due-date,
#updated-date,
.hipchat-mentioned-rooms-section,
.hipchat-issue-panel .hipchat-issue-panel-button,
.issue-data-block .action-head, /* comments headers */
.eachrow, .eachrow .before, /* Stateoscope */
.action-details /* history headers */
{
  font-size: smaller !important;
}

/* quotation: Not sure, if to display the currency, because it's value doesn't need to be public */
/* #customfield_10642-val:after {
  content: " ???" !important;
} */

/* To Do and 'Admint should delete this issue */
#customfield_10300-field, #customfield_10200-field {
  color: red !important;
  background: white !important;
  border: 1px solid #B04A4A !important;
  padding: 0 7px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

/* hide resolved date, because we show 'file is ready' */
#resolved-date {
  display: none !important;
}


/* White text color for date boxes */
/* For red box */
#customfield_10015-val, /* Planned To Client */
#customfield_10401-val, /* KP to KM After Correction */
#customfield_11200-val, /* Planned KP to KM */
#customfield_11700-val, /* Provisional KP to KM */
#customfield_12107-val, /* Provisional to Client */
#customfield_12108-val, /* SLA Date */
/* For yellow Box */
#customfield_10647-val, /* Ordered */
#customfield_12527-val, /* Simple Title Ordered */
#customfield_10614-val, /* Directly Ordered */
#customfield_12501-val, /* Sample Ordered */
#customfield_12505-val, /* Query for Client */
#customfield_10704-val, /* Rule Ordered */
/* For green box */
#customfield_12802-val, /* File Is Ready */
#customfield_12508-val, /* Downloaded */
#customfield_10620-val, /* Done */
#customfield_10710-val, /* Rule is Done */
/* For black box */
#customfield_12502-val /* Cancelled */
{
  color: #fff !important;
  font-size: smaller !important;
  margin: -2px 0 -2px -5px !important;
  padding: 2px 7px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}


/* Use this for colors of rule dates*/

/* #customfield_10701-val, /* Rule to Preparation */
/* #customfield_10704-val, /* Rule ordered */
/* #customfield_10705-val, /* Rule to Production */
/* #customfield_10708-val, /* Rule to QA */
/* #customfield_10712-val, /* Rule request prepared */
/* #customfield_10703-val, /* Rule KM asked */
/* #customfield_10707-val, /* Rule KP asked */
/* #customfield_10706-val, /* Rule back to Preparation */
/* #customfield_10709-val, /* Rule back to Production */
/* #customfield_10711-val, /* Rule rework requested */
/* #customfield_10702-val, /* Rule waits for order */
/* #customfield_10710-val, /* Rule is Done */


/* Red box */
#customfield_10015-val, /* Planned To Client */
#customfield_12108-val, /* SLA Date */
#customfield_10401-val, /* KP to KM After Correction */
#customfield_11200-val, /* Planned KP to KM */
#customfield_11700-val, /* Provisional KP to KM */
#customfield_12107-val  /* Provisional to Client */
{
  background: #F91E02 !important;
}

/* Red box with padding*/
#customfield_10401-val /* KP to KM After Correction */
{
  padding: 0 7px !important;
}

/* Red text */
#customfield_10611-val, /* Default to Client */
#customfield_10621-val /* Default Correction */
{
  color: #F91E02 !important;
}

/* Grey text */
#due-date, 
#resolution-val,
#customfield_12300-val, /* Expected Order Week */
#create-date, /* Created */
#updated-date, /* Updated */
#customfield_10613-val, /* Quotation Request */
#customfield_10616-val, /* Quotation Created */
#customfield_12503-val /* New Quotation */
{
  color: #9F9F9F !important;
}

/* Yellow border box */
#customfield_12300-val /* Expected Order Week */
{
  border: 1px solid #E69B12;
}

/* Yellow Box  */
#customfield_10647-val, /* Ordered */
#customfield_12527-val, /* Simple Title Ordered */
#customfield_10614-val, /* Directly ordered */
#customfield_12501-val, /* Sample Ordered */
#customfield_12505-val, /* Query for Client */
#customfield_10704-val /* Rule ordered */
{
  background: #E89500 !important;
}

/* Yellow text */
#customfield_12509-val, /* Asked for Information */
#customfield_12500-val, /* Production Ordered */
#customfield_12506-val, /* Taken to Production */
#customfield_12507-val, /* Production Rejected */
#customfield_10010-val, /* Planned Production to Management */
#customfield_10900-val, /* KP to KM */
#customfield_12515-val, /* Production Query Raised */
#customfield_12517-val, /* Production Query Answered by Client */
#customfield_12520-val, /* Production Query Answered by KM */
#customfield_12518-val, /* Back to Production */
#customfield_12511-val, /* Changes Ordered */
#customfield_12516-val, /* Correction Query Raised */
#customfield_12531-val, /* From Query for Client to Preparation*/
#customfield_12532-val, /* QA Query Answered by Client */
#customfield_12528-val, /* Rework Requested After Download*/
#customfield_12533-val, /* Rework Query Answered by Client*/
#customfield_12512-val, /* Rework Done*/
#customfield_10902-val, /* Correction Ordered */
#customfield_12514-val, /* Taken to Correction */
#customfield_12526-val, /* KM Sent Client's Correction Answer to KP */
#customfield_12513-val, /* Correction Query Answered by Client */
#customfield_12521-val, /* Correction Query Answered by KM */
#customfield_12519-val, /* Back to Correction */
#customfield_10904-val, /* From Correction to QA */
#customfield_12803-val, /* File Is Converted */
#customfield_12504-val, /* Put On Hold */
#customfield_12529-val, /* From On Hold to Preparation */
#customfield_12530-val, /* From On Hold to QA */
#customfield_10701-val, /* Rule to Preparation */
#customfield_10705-val, /* Rule to Production */
#customfield_10708-val, /* Rule to QA */
#customfield_10712-val, /* Rule request prepared */
#customfield_10703-val, /* Rule KM asked */
#customfield_10707-val, /* Rule KP asked */
#customfield_10706-val, /* Rule back to Preparation */
#customfield_10709-val, /* Rule back to Production */
#customfield_10711-val, /* Rule rework requested */
#customfield_10702-val  /* Rule waits for order */
{
  color: #E49300 !important;
}

/* Green box */
#customfield_12802-val, /* File Is Ready */
#customfield_12508-val, /* Downloaded */
#customfield_10620-val, /* Done */
#customfield_10710-val /* Rule is Done*/
{
  background: #208F37 !important;
}

/* Green text  */
{
  color: #208F37 !important;
}

/* Black box */
#customfield_12502-val /* Cancelled */
{
  background: #000 !important;
}

/* description, comments and Recent Comment */

#description-val.editable-field, #addcomment textarea,
.twixi-block .verbose .flooded, .toggle-wrap .verbose .flooded,
#customfield_10632-val, /* Recent Comment */
#customfield_12103-val, /* # KM's Evaluation Description */
#customfield_12105-val, /* # KP's Evaluation Description */
#customfield_11301-val /* Evalation Summary */
 {
  background: #FFF9EC !important;
  border: 1px solid #E8E7E1 !important;
  -webkit-box-shadow: inset 2px 2px 0px #DAD9D9 !important;
  -moz-box-shadow: inset 2px 2px 0px #DAD9D9 !important;
  box-shadow: inset 2px 2px 0px #DAD9D9 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

/* Participants */
#customfield_10627-val
{
  line-height: 100% !important;
}

#description-val.editable-field, #addcomment textarea {
  margin: 0 !important;
}

.wiki-edit-toolbar {
  border: none !important;
  background: transparent !important;
}

.message-container {
  color: #ccc !important;
  font-style: italic !important;
  font-size: x-small !important;
}

.skinny .split-view #activitymodule #issue-tabs {
  padding-left: 0 !important;
}

#activitymodule .tabs2 #issue-tabs {
  padding-right: 0 !important;
}

/*tabs for client, konvertus and activity*/
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab, 
.tabwrap>.tabs.horizontal>li>a, 
.tabwrap>.tabs.horizontal>li>strong,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item>a,
.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.menu-item>a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.menu-item>a:hover,
.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.menu-item>a:active
{
  border: none !important;
  background: none !important;
}

.tabwrap>.tabs.horizontal>li {
  margin: 5px 0 0 -1px !important;
  background: none !important;
}

/* active tab */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab>a,
.tabwrap>.tabs.horizontal>li.active>a,
.tabwrap>.tabs.horizontal>li.active>strong {
  background: #FFF !important;
  -webkit-box-shadow: 1px 1px 1px #ddd !important;
  -moz-box-shadow: 1px 1px 1px #ddd !important;
  box-shadow: 1px 1px 1px #ddd !important;
}

/* active link in tab*/
#aui-uid-0,
.tabwrap>.tabs.horizontal>li>strong {
  -webkit-border-radius: 45% !important;
  -moz-border-radius: 45% !important;
  border-radius: 45% !important;
}

/* client and konvertus tab pane*/
.aui-tabs.horizontal-tabs>.tabs-menu~.tabs-pane {
  border-top: none !important;
  padding-top: 10px !important;
}

.aui-tabs.horizontal-tabs>.tabs-menu>.active-tab>a,
.aui-tabs.horizontal-tabs>.tabs-menu>.active-tab>a strong,
.tabwrap>.tabs.horizontal>li>strong
{
  font-weight: normal !important;
  color: black !important;
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item:first-child {
  margin-left: 0 !important;
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item:first-child a {
  border-left: none !important;
}

.tabwrap>ul.tabs>li a, .tabwrap>ul.tabs>li a:link, .tabwrap>ul.tabs>li a:visited {
  background: none !important;
}

.tabwrap>.tabs.horizontal {
  border-bottom: none !important;
}

.issue-drop-zone__text {
  color: #ccc !important;
  font-size: xx-small !important;
  font-weight: normal !important;
}

.issue-data-block {
  border-bottom: none !important;
}

/* issue in only detail view */

.issue-header .issue-header-content>.command-bar {
  background: none !important;
  border-top: none !important;
  border-bottom: 1px solid #ddd !important;
  padding: 10px 0 !important;
}

/* right column */
#viewissuesidebar {
  width: 30% !important;
}

/* attachment thumbnails*/
#attachment_thumbnails .attachment-content {
  padding: 0px 5px 0 0 !important;
}

/* structure */
#structuremodule {
  border-top: none !important;
  padding: 15px 0 !important;
  background: transparent !important;
}

#structuremodule-content {
  background: #fff !important;
}

.expanded #st-select-structure.hideCollapsed {
  display: inline-block !important;
  background: transparent !important;
}

.issue-body-content .module>.mod-header .ops {
  background: none !important;
}

ul.s-ops {
  background-color: transparent !important;
  margin: 3px 4px 0 0 !important;
}

.activity-item-description blockquote {
  background-color: #DAF2EC !important;
  border-left: none !important;
}

.issue-data-block.focused {
  background-color: #BACAD3 !important;
}

/* history */
.action-details {
  line-height: 1.7 !important;
}

.action-body.changehistory {
  text-align: left !important;
}

.action-body.changehistory table th {
  border-right: 1px solid #ccc !important;
  font-size: 13px !important;
  font-weight: 100 !important;
  background: #777 !important;
  color: #fff !important;
}

.changehistory th, .changehistory td {
  vertical-align: text-bottom !important;
  padding: 0.166em 0.5em 0.166em 5px !important;
}

.activity-name {
  color: #fff !important;
  background: #999 !important;
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  font-size: 13px !important;
}

.activity-old-val, .activity-new-val {
  min-width: 250px !important;
  background: #fff !important;
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  font-size: 13px !important;
}

.activity-old-val {
  color: #C73522 !important;
}

.activity-new-val {
  color: #158C07 !important;
}

/* Stateoscope */
.eachrow {
  margin: 0 0 1px 0 !important;
  padding: 0 0 5px 0 !important;
  border: 1px solid #E4E4E4 !important;
  font-size: smaller !important;
}

.eachrow.head {
  color: #D5D5D5 !important;
  font-weight: 100 !important;
  height: 35px !important;
  font-size: 14px !important;
  background-color: #3B5F81 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.eachrow .owner {
  width: 20% !important;
}

.eachrow .before {
  width: 17% !important;
  margin: 10px 0 0 10px !important;
  font-size: inherit !important;
}

.eachrow .action {
  width: 15% !important;
}

.eachrow .after {
  width: 17% !important;
}